{% extends "layout.html" %}

{% block title %}AI Engineering{% endblock %}

{% block body %}
<section class="bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary" id='learn'>Courses</h3>
        <div class="roadmap">
            <div class="course">
                <a href="https://www.edx.org/learn/artificial-intelligence/harvard-university-cs50-s-introduction-to-artificial-intelligence-with-python?webview=false&campaign=CS50%27s+Introduction+to+Artificial+Intelligence+with+Python&source=edx&product_category=course&placement_url=https%3A%2F%2Fwww.edx.org%2Fschool%2Fharvardx" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Harvard.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Introduction to Artificial Intelligence with Python
                            </h4>
                            <p class="card-text" >Harvard</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/VyWAvY2CF9c?si=60U-d5FKrLjFAPJy" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Deep Learning Crash Course for Beginners
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/dIUTsFT2MeQ?si=aOC2-wy58lUnsCAU" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Natural Language Processing with spaCy & Python - Course for Beginners
                            </h4>
                            <p class="card-text">Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/IA3WxTTPXqQ?si=mpbSIFQQ7RXSPn_t" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Deep Learning for Computer Vision with Python and TensorFlow – Complete Course
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/ISk80iLhdfU?si=HwrXc1YJKwhIgLob" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/deepmind.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                DeepMind x UCL | Reinforcement Learning Course 2018
                            </h4>
                            <p class="card-text" >Google DeepMind</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/bjsJOl8gz5k?si=_ymT_v0DMez4ajMV" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/MD.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Deployment of ML Models
                            </h4>
                            <p class="card-text">Krish Naik</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.projectpro.io/article/artificial-intelligence-project-ideas/461" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/project.svg" alt="" style="height:130px;width:130px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Work on personal AI projects
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.linkedin.com" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/linkedin.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Go find a job
                            </h4>
                            <p class="card-text" >Linkedin</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}