{% extends "layout.html" %}

{% block title %}Cyber Security{% endblock %}

{% block body %}
<section class="bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary" id='learn'>Courses</h3>
        <div class="roadmap">
            <div class="course">
                <a href="https://www.comptia.org/certifications/a" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Comptia.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                CompTIA A+
                            </h4>
                            <p class="card-text" >Comptia</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.comptia.org/certifications/security" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Comptia.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                CompTIA Security+
                            </h4>
                            <p class="card-text" >Comptia</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccna.html" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/ccna.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                CCNA
                            </h4>
                            <p class="card-text">Cisco</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.comptia.org/certifications/linux" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Comptia.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                CompTIA Linux+
                            </h4>
                            <p class="card-text" >Comptia</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.youtube.com/watch?v=h3VCQjyaLws&list=PLuXY3ddo_8nzrO74UeZQVZOb5-wIS6krJ&ab_channel=Codezilla" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Codezilla.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Mastering Python for beginners
                            </h4>
                            <p class="card-text" >Codezilla</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://tryhackme.com/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/tryhackme.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Start Hacking
                            </h4>
                            <p class="card-text" >TryHackMe</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.comptia.org/certifications/pentest" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Comptia.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                CompTIA PenTest+
                            </h4>
                            <p class="card-text" >Comptia</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.offsec.com/courses-and-certifications/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/ofsp.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Offensive Security Certified Professional
                            </h4>
                            <p class="card-text" >OffSec</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.linkedin.com" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/linkedin.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Go find a job
                            </h4>
                            <p class="card-text" >Linkedin</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}