{% extends "layout.html" %}

{% block title %}Data Sience{% endblock %}

{% block body %}
<section class="bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary" id='learn'>Courses</h3>
        <div class="roadmap">
            <div class="course">
                <a href="https://www.edx.org/learn/computer-science/harvard-university-cs50-s-introduction-to-computer-science?webview=false&campaign=CS50%27s+Introduction+to+Computer+Science&source=edx&product_category=course&placement_url=https%3A%2F%2Fwww.edx.org%2Fschool%2Fharvardx" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Harvard.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Introduction To Computer Sience
                            </h4>
                            <p class="card-text" >Harvard</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/r-uOLxNrNk8?si=7eKh8RhCh6mCQFrX" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Data Analysis with Python - Full Course for Beginners
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/i_LwzRVP7bg?si=9Cemp0hM3Yr4y-oO" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Machine Learning for Everybody – Full Course
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/MiiANxRHSv4?si=wyEtC7aS7tuFS7EC" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/MD.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Data Visualization Tutorial For Beginners | Big Data Analytics Tutorial
                            </h4>
                            <p class="card-text" >Simplilearn</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.vtuloop.com/game-development-project-ideas-part-1/#:~:text=Game%20Development%20Project%20Ideas%20%7C%20Read%20Now%201,8%208%5D%20Cross-the-words%20Puzzle%20Gameplay%20...%20More%20items" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/project.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Build your own Project
                            </h4>
                        </div>
                </div>
                <div class="arrow"></div>
                <div class="course">
                    <a href="https://www.linkedin.com" class="text-decoration-none" target="_blank">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <img src="/static/linkedin.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                                <br><br>
                                <h4 class="card-title mb-4">
                                    Go find a job
                                </h4>
                                <p class="card-text" >Linkedin</p>
                            </div>
                        </div>
                    </a>
                </div>
                </a>
            </div>
</section>
{% endblock %}