{% extends "layout.html" %}

{% block title %}App Development{% endblock %}

{% block body %}
<section class="bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary" id='learn'>Courses</h3>
        <div class="roadmap">
            <div class="course">
                <a href="https://www.edx.org/learn/game-development/harvard-university-cs50-s-introduction-to-game-development?webview=false&campaign=CS50%27s+Introduction+to+Game+Development&source=edx&product_category=course&placement_url=https%3A%2F%2Fwww.edx.org%2Fschool%2Fharvardx" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Harvard.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Introduction to Game Development
                            </h4>
                            <p class="card-text" >Harvard</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/gB1F9G0JXOo?si=K1M8L_XeKkWGoEFf" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Learn Unity - Beginner's Game Development Tutorial
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/ec8vSKJuZTk?si=jkd5OyEucALuiFPq" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Learn JavaScript by Building 7 Games - Full Course
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/iIOIT3dCy5w?si=-wG8aEODD4W9rjB2" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/design.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Game Design Principles
                            </h4>
                            <p class="card-text" >Game Maker's Toolkit</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.vtuloop.com/game-development-project-ideas-part-1/#:~:text=Game%20Development%20Project%20Ideas%20%7C%20Read%20Now%201,8%208%5D%20Cross-the-words%20Puzzle%20Gameplay%20...%20More%20items" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/project.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Build your own Game
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
</section>
{% endblock %}