{% extends "layout.html"%}

{% block title%}Home{% endblock %}

{% block body %}
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mb-10"> Learn <span class="text-warning"> To Code</span></h1>
                <p class="lead my-4">
                    👋 Hi there!

                    Welcome! I'm a self-learner on a mission to simplify IT learning. Let's explore tech together! 🚀
                </p>
                <a class="btn btn-danger btn-lg border"
                    href="https://www.youtube.com/channel/UCNOZmjNaJLbegZqafFuK6NQ" target="_blank">
                    <i class="bi bi-youtube m-3"></i>Subscribe
                </a>

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="/static/principal.svg" alt="">
        </div>
    </div>
</section>
<!-- Social Media -->
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 text-center">Join Our Community</h3>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler border" type="button" data-bs-toggle="collapse"
                    data-bs-target="#socialbtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="socialbtn">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://github.com/yamilobt8"
                                target="_blank">
                                <i class="bi-github" role="img"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-dark ms-5 button_width" href="https://www.facebook.com/khalid.azaanoun.3/"
                                target="_blank">
                                <i class="bi bi-facebook "></i>
                                Facebook
                            </a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-dark ms-5 button_width"
                                href="https://discord.gg/Uh525kWX" target="_blank">
                                <i class="bi bi-discord"></i>
                                Discord
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://www.linkedin.com/in/khalid-azaanoun-a0585425b/"
                                target="_blank">
                                <i class="bi bi-linkedin"></i>
                                Linkedin
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://www.tiktok.com/@yamilobt8"
                                target="_blank">
                                <i class="bi bi-tiktok"></i>
                                TikTok
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    </div>
</section>
<section class="bg-ligh">
    <div class="container p-5">
        <h3 class="text-center text-secondary"id='learn'>Courses</h3>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.edraak.org/en/programs/course/bsc-vsp-2019/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/EDRAAK.svg" alt="" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Cyber Security Basics
                            </h4>
                            <br>
                            <p class="card-text">EDRAAK</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.edx.org/learn/computer-science/harvard-university-cs50-s-introduction-to-computer-science?webview=false&campaign=CS50%27s+Introduction+to+Computer+Science&source=edx&product_category=course&placement_url=https%3A%2F%2Fwww.edx.org%2Fschool%2Fharvardx" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Harvard.svg" alt="" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Introduction To Computer Sience
                            </h4>
                            <p></p>
                            <p></p>
                            <p class="card-text">Harvard</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.youtube.com/watch?v=h3VCQjyaLws&list=PLuXY3ddo_8nzrO74UeZQVZOb5-wIS6krJ&ab_channel=Codezilla" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Codezilla.svg" alt="" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Mastering Python for beginners
                            </h4>
                            <pr></pr>
                            <p class="card-text">Codezilla</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.edraak.org/en/programs/course/ds100-v2019sp/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/EDRAAK.svg" alt="" class="card-img w-25">
                            <h4 class="card-title mb-4">
                                Data Science & Machine Learning
                            </h4>
                            <p class="card-text">EDRAAK</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.edx.org/learn/web-development/harvard-university-cs50-s-web-programming-with-python-and-javascript" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Harvard.svg" alt="" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Web Programming with Python and JavaScript
                            </h4>
                            <p class="card-text">Harvard</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="https://www.youtube.com/watch?v=fK2lLVqc8UY&list=PLuXY3ddo_8nzUrgCyaX_WEIJljx_We-c1&ab_channel=Codezilla" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Codezilla.svg" alt="" class="card-img w-25">
                            <h4 class="card-title mb-4">
                                Object Oriented Programming For Python
                            </h4>
                            <p class="card-text">Codezilla</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-ligh">
    <div class="container p-5">
        <h3 class="text-center text-secondary"id='learn'>Roadmaps</h3>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/CyberSecurity" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/CyberSecurity.svg" alt="" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Cyber Security Expert / Engineer
                            </h4>
                            <p class="card-text">From Zero to Expert</p>

                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/mobiledev" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/AppDevelopper.svg" alt="" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                App Development For Android
                            </h4>
                            <br>
                            <p class="card-text">From Zero to Hero</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/ai" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/AI.svg" alt="" class="card-img w-25">

                            <h4 class="card-title mb-4">
                                Artificial intelligence Engineering
                            </h4>
                            <p class="card-text">From zero to Enginner</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/gamedev" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/GameDev.svg" alt="" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Desktop Game Development
                            </h4>
                            <p class="card-text">From  Gamer To  Game Developer</p>
                            <p</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/datasience" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/DataSience.svg" alt="" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Data Science
                            </h4>
                            <p class="card-text">From Curiosity To Scientist</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex aligh-items-stretch">
                <a href="/robot" class="text-decoration-none">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/Robotic.svg" alt="" class="card-img w-25">
                            <br>
                            <p></p>
                            <h4 class="card-title mb-4">
                                Robotics Engineering
                            </h4>
                            <p class="card-text">From fascination to robotics engineer</p>
                        </div>
                    </div>
                    <br>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Lessons -->
<section class="bg-dark">
    <div class="container p-5">
        <div class="row mb-5 ">
            <div class="col">
                <h3 class="text-uppercase text-center text-light">latest lessons</h3>
            </div>
        </div>
        <div class="row">
            {% for lesson in lessons %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
                <div class="card lesson">
                    <img src="{{url_for('static', filename=lesson.thumbnail)}}" class="card-img">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a class="text-decoration-none text-dark" href="#">{{lesson.title}}</a>
                        </h5>
                        <p class="card-text mb-0">In:
                            <a class="text-decoration-none" href="#">{{lesson.course}}</a>
                        </p>
                        <span><img class="article-img" src="{{url_for('static', filename='default.jpg')}}" alt="">By: <a
                                href="#" class="link">{{lesson.author}}</a></span>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% endblock %}
