{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <br><br><br>
    <form class="login-form" action="/login" method="post">
        <h1>Login</h1>
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" autocomplete="off" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Log In</button>
    </form>
{% endblock %}