{% extends "layout.html" %}

{% block title %}Robotics Engineering{% endblock %}

{% block body %}
<section class="bg-light">
    <div class="container p-5">
        <h3 class="text-center text-secondary" id='learn'>Courses</h3>
        <div class="roadmap">
            <div class="course">
                <a href="https://www.edraak.org/en/programs/course/ar101-v2018_t3/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/EDRAAK.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Arduino Programming Fundamentals
                            </h4>
                            <p class="card-text" >EDRAAK</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.edraak.org/en/programs/course/rm100-v2019sp/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/EDRAAK.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br>
                            <h4 class="card-title mb-4">
                                Robo Maker
                            </h4>
                            <p class="card-text" >EDRAAK</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://openlearninglibrary.mit.edu/courses/course-v1:MITx+8.01.1x+3T2018/about" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/mit.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Mechanics: Kinematics and Dynamics
                            </h4>
                            <p class="card-text" >MIT</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.youtube.com/live/N3jwEVbZyXY?si=66TIqPQDswveCP1-" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/python.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Learning Python for Robotics
                            </h4>
                            <p class="card-text" >Kevin McAleer</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://youtu.be/i_LwzRVP7bg?si=9Cemp0hM3Yr4y-oO" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/codecademy.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Machine Learning for Everybody – Full Course
                            </h4>
                            <p class="card-text" >Codecademy</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="arrow"></div>
            <div class="course">
                <a href="https://www.learnrobotics.org/blog/robotics-project-ideas/" class="text-decoration-none" target="_blank">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <img src="/static/project.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                            <br><br>
                            <h4 class="card-title mb-4">
                                Build your own Project
                            </h4>
                        </div>
                </div>
                <div class="arrow"></div>
                <div class="course">
                    <a href="https://www.linkedin.com" class="text-decoration-none" target="_blank">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <img src="/static/linkedin.svg" alt="" style="height:100px;width:100px" class="card-img w-25">
                                <br><br>
                                <h4 class="card-title mb-4">
                                    Go find a job
                                </h4>
                                <p class="card-text" >Linkedin</p>
                            </div>
                        </div>
                    </a>
                </div>
                </a>
            </div>
</section>
{% endblock %}