body {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #f8f9fa;
}

/* Style for the message form */
#messageFormContent {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the rating form */
#ratingFormContent {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Custom Table Styles */
.custom-table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-table table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.custom-table .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.custom-table .btn-primary {
    margin-top: 10px;
}
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 300px; /* Set container height */
    background-color: #f5f5f5;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
}
.responsive-space {
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}

.responsive-space h2 {
    margin-bottom: 20px;
    color: #333;
}

.responsive-space img {
    max-width: 100%;
    height: auto;
}