{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbols</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
      <tr>
        <td>{{  row["symbol"] }}</td>
        <td>{{  row["shares"] }}</td>
        <td>{{  row["price"] }}</td>
        <td>{{  row["date"] }}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <th scope="col">cash</td>
            <th scope="col">{{ cash }}</th>
          </tr>
    </tfoot>
  </table>
{% endblock %}