/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

/* Header styles */
.header {
    background-color: #1F2833;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: inline-block;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

/* Section styles */
.section {
    padding: 40px;
}

.home {
    background-color: #D1E8E2;
    color: white;
    text-align: center;
}

.about {
    background-color: #D1E8E2;
}

.projects {
    background-color: #D1E8E2;
}

.project {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

/* Footer styles */
.footer {
    background-color: #1F2833;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Add styles to make the profile picture rounded */
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 180px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Icon styles */
.icons i {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.icons a:hover i {
    color: #1F2833;
}

<style>
  .custom-link {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    /* Add more styles as needed */
  }
</style>

